body{
    font-family: 'Baloo Tamma 2', cursive !important;
  }

/*******************   BOOTSTRAP CSS OVERRIDE   *****************/
.btn.btn-ok{ background-color: #880404; color: #fff; border-radius: 0; padding: 1px 8px; }
.btn.btn-other{ background-color: #fff; border-radius: 0; border: 2px solid #ef5b7e; }
.btn.btn-other:hover{ background-color: #212529; border: 2px solid #212529; color: #fff; }




/*******************   GENERAL CSS RULE   *****************/
span.karnata{ color: #e48f0a; }
span.bala{ color: #880404; }
.pl-50{ padding-left: 50%; }
.d-inline-imp{ display: inline-block !important; }
.border-box{ min-height: 10px; background-color: #ddd; }

.triangle-up{ position: absolute; bottom: 0; left: 45%; width: 0; height: 0; border-style: solid; border-width: 0 15px 20px 15px; 
    border-color: transparent transparent #ffffff transparent; }
.triangle-down{ position: absolute; top: 0; left: 45%; width: 0; height: 0; border-style: solid; border-width: 15px 20px 0 15px; 
    border-color:  #ffffff transparent transparent transparent;; }
.head-line-01{ font-size: 28px; color: #ef5b7e; }
.sub-head-para-01{ color: #4d4d4d; font-size: 18px; line-height: 1.2; }

.blog-head-line-01{ color: #4d4d4d; font-size: 22px; }
.blog-sub-head-para-01{ color: #4d4d4d; font-size: 15px; line-height: 1.3; }

.black-color{ color: #212529; }
.small-head-01{ font-size: 20px; }
.small-sub-head-01{ font-size: 12px; text-transform: uppercase; color: #ef5b7e; }
.widget-list-container .img-fluid{    width: 100% !important;
    height: 100% !important;}


/*******************   ICON CSS RULE   *****************/

/* post cards css */
.post-list .p-t-10 {
    padding-top: 10px !important;
}
.post-list .media-main a.pull-left {
    width: 100px;
}
.post-list .thumb-lg {
    height: 12vh;
    width: 84px;
}
.post-list .media-main .info {
    overflow: hidden;
    color: #000;
}
.post-list .media-main .info h4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.post-list .img-widget-wrap{ float: left; width: 125px; overflow: hidden; height: 13vh; background-color: #f1f1f1; margin-right: 20px; }



/*******************   ACTUAL CSS RULE START  *****************/
#karnataBalaHeader .navbar-brand span{ font-weight: 500; font-size: 26px; }
#karnataBalaHeader .navbar-brand span.karnata{ color: #e48f0a; }
#karnataBalaHeader .navbar-brand span.bala{ color: #880404; }

#navbarTogglerTop1 .nav-item .nav-link{ padding: 21px 16px; }
#navbarTogglerTop1 .nav-item.active .nav-link{ border-bottom: 2px solid red; font-weight: bold;}
#navbarTogglerTop1 .login-wrap >a{ color: rgba(0,0,0,.5); }
#navbarTogglerTop1 .login-wrap >a:hover{ color: #212529; text-decoration: none; }

#topperCarousel{  }
#topperCarousel .carousel-item{ height: auto; }
#topperCarousel .carousel-item img{ width: 100%;height:55vh }

.k-jumbotron{ position: relative; overflow: hidden; padding: 20px; }
.rajyostava{ position: absolute; width: 40%; top: -56px; left: 0; }

.activist-box-wrap .img-wrap{ position: relative; }
.activist-box-wrap .img-wrap > img{ width: 100%; filter: grayscale(1); }
.activist-box-wrap:hover .img-wrap > img{ width: 100%; filter: none; }

.activist-box-wrap .box-info{  }
.box-info{ padding: 20px 20px 20px 0; }
.box-info .box-para{ line-height: 1.2; font-size: 14px; }
.box-info .time-punch{ font-size: 11px; }

.twitter-section{  }
.twitter-section .card{ border: none; }
.twitter-img-wrap{ width: 130px; height: 130px; border-radius: 50%; overflow: hidden; }
.twitter-img-wrap img{ height: 100%; filter: grayscale(1); }
.twitter-section .card-body{ padding-top: 0; }
.twitter-section .card-text{ font-size: 15px; line-height: 1.2; }
.twitter-section .card-title{ line-height: 0.9; margin-bottom: 4px; }

.social-tab{ border-bottom: 2px solid #ddd; }
.social-tab li a.fa{ background-color: transparent; font-size: 26px; border: 1px solid;
    margin-right: 3px; color: #a2a2a2; }
.social-tab .nav-item.show .nav-link, .social-tab .nav-link.active{ 
    background-color: #a0a0a0; color: #fff; border: 1px solid #a0a0a0; }
.social-tab-content{ border: 1px solid #ddd; height: 958px; overflow-y: auto; }
.tweet-bg{ width: 100%; }

.kannada-poet-containter{ background-color: #ddd; }
.kannada-poet-containter ul{ list-style: none outside none; padding-left: 0; margin: 0; }
.content-slider li{ background-color: #fff; text-align: center; color: #333; }
.content-slider h3 { margin: 0; padding: 70px 0; }
.lSSlideOuter .lSPager.lSpg{ display: none; }
.poet-img-warp{ height: 205px; overflow: hidden; }
.poet-img-warp img{ filter: grayscale(1); }
.poet-card:hover .poet-img-warp img{ filter: none; }
.poet-card .award{ margin-bottom: 6px; }
.poet-card .card-body{  }
.poet-card .card-text{ line-height: 1.2; text-align: left; }
.poet-card .card-btn{ text-align: right; margin-bottom: 0; }

.footer{  }
.foot-kb-logo span{ font-size: 23px; color: #fff; text-shadow: 1px 1px #444; }
.page-footer{ background-color: #e48f0a; bottom: 0;}
.footer-copyright{ background-color: #880404; }
.footer-copyright{ color: #fff; }
.footer-copyright a{ color: #fff; }
.footer-copyright a:hover{ text-decoration: none; }
.social-media-icons li{ display: inline-block; }
.social-media-icons li a.fa { padding: 10px; font-size: 15px; width: 37px; border-radius: 4px; 
    text-decoration: none; margin: 5px 2px; }
.social-media-icons li a.fa-facebook { background: #3B5998; color: white; }
.social-media-icons li a.fa-facebook { background: #3B5998; color: white; }
.social-media-icons li a.fa-twitter { background: #55ACEE; color: white; }
.social-media-icons li a.fa-instagram { background: #125688; color: white; }
.social-media-icons li a.fa-youtube { background: #bb0000; color: white; }
.social-media-icons li a:hover{ opacity: 0.7; }





/*******************   SUDDI CSS RULE START  *****************/
.widget-list-container{  }
.widget-title{ font-size: 22px; color: #ef5b7e; }
.blog-post-container{ min-height: 508px; padding-top: 10px; }
.post-meta{ color: #212529; font-size: 14px; line-height: 24px; }
.post-blog-img-wrap{ height: 211px; overflow: hidden; }
.posts-widget .img-widget-wrap{ float: left; width: 125px; overflow: hidden; height: 155px; background-color: #f1f1f1; margin-right: 20px; }
.widget-info-wrap{  }
.widget-category{ color: #ef5b7e; font-size: 14px; text-transform: uppercase; }
.widget-head{ font-size: 19px; color: #4d4d4d; line-height: 1.1; }
.widget-head > a{ color: #4d4d4d; }
.widget-head > a:hover{ color: #4d4d4d; }
.widget-info-wrap .date{ font-size: 12px; }

.jumbotron-blog-img{ width: 100%; height: auto; overflow: hidden; }
.jumbotron-blog-img img{ width: 100%; }
.story-img-library{ margin-bottom: 20px; }

blockquote{ position: relative; margin-top: 57px; padding: 50px 50px 54px; border: 1px dotted #999;
    font-size: 16px; line-height: 26px;  z-index: 0; }
blockquote:before { content: "\f10d"; display: block; position: absolute;
    top: -40px; left: 0; right: 0; width: 60px; margin: 10px auto; color: #fff; background-color: #ef5b7e;
    border: 1px dotted #fff; border-radius: 50%; font-family: "FontAwesome"; line-height: 58px; text-align: center;
    box-sizing: inherit; z-index: -1; }
blockquote p:before { content: "\f10d"; display: inline-block; position: relative; top: -2px;
    margin-right: 5px; color: #999; font-family: "FontAwesome"; font-size: 14px; }
blockquote p:after { content: "\f10e"; margin-left: 5px; color: #999; font-family: "FontAwesome"; font-size: 14px; }

.social-nav > li{ display: inline-block; vertical-align: middle; }
.social-nav > li strong{ display: inline-block; vertical-align: middle; padding-top: 17px; }
.social-nav > li > a { width: 40px; display: inline-block; vertical-align: middle; text-align: center; margin: 10px 5px 0; color: #4d4d4d;
    padding: 0; border: 1px solid #4d4d4d; border-radius: 50%; font-size: 14px; line-height: 38px; }
.social-nav > li > a:hover{ background-color: #ef5b7e; border-color: #ef5b7e; color: #fff;  }

.pager-wrapper{ text-align: center; }
.pager-nav{ width: 46%; margin: 4px auto 0 auto; font-size: 14px; line-height: 24px; font-weight: 700; text-transform: uppercase; }
.pager-nav:before{ display: table; content: " "; }
.pager-nav > li + li:before { content: "|"; margin: 0 20px 0 18px; color: #696969; }
.pager-nav > li > a{ color: #adadad; }
.pager-nav > li > a:hover{ color: #4d4d4d; }
.pager-nav > li > a > .fa-long-arrow-left { margin-right: 8px; }
.pager-nav > li > a > .fa-long-arrow-right { margin-left: 8px; }

.title-color {color: #e48f0a; font-weight: 600;}
.aboutus{margin: 3rem;}
a{
    color: #4d4d4d;
}
a:hover{
    text-decoration: none;
    color:  #4d4d4d;
}
.margin-for-story{
    margin-right: 10px;
    margin-left: 10px;
}

.logo{
    border-radius: 50px;
}

.red-color{
    color: red;
}
.gallery-height{
    display: block;
    min-height: 1px;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    overflow: auto;
}
@media only screen and (max-width: 768px) {
    #topperCarousel .carousel-item img {
        width: 100%;
        height: 30vh;
    }
}
